*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body{
    background-color:hsla(288,72%,73%,1);
background-image:
radial-gradient(at 80% 100%, hsla(289,60%,27%,1) 0px, transparent 50%),
radial-gradient(at 17% 0%, hsla(289,45%,39%,1) 0px, transparent 50%);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
   
}
.container {
    padding: 30px;
    width: 400px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #07070728;
    backdrop-filter: blur(15px);
    border-radius: 10px;
   box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.582);
    
}
.info{
    gap: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 100px;
}
input{
    height: 40px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    background-color: #0000002a;
    backdrop-filter: blur(10px);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.582);
}
button{
    height: 40px;
    
    border: none;
    border-radius: 5px;
    padding: 0 15px;
    cursor: pointer;
    background-color: #b514c4;
    color: #000;
    font-weight: bolder;
    font-size: 18px;
}
button:hover{
    background-color: #eba3e1;
}
.result {
    gap: 10px;
    display: flex;
    flex-direction: column;
    
}
.result h1{
    margin-top: 20px;
    font-size: 50px;
}
.result img{
    width: 300px;
}
.cercle {
    width: 700px;
    height: 700px;
    border-radius: 50%;
    position: absolute;
    background-color: #c210aa;
    animation: moove 3s ease-in-out infinite;
}
.cercle:nth-child(1) {
    top: -100px;
    left: 500px;
    z-index: -1;
    
}
.cercle:nth-child(2) {
    bottom: -100px;
    right: 500px;
    z-index: -1;
}
@keyframes moove {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(0);
    }
}
@media screen and (max-width: 600px) {
    
    .container {
        width: 80%;
        
       
    }
    .info {
        flex-direction: column;
        align-items: center;
    }
    button {
        width: 100%;
        margin-top: 10px;
       
    }
    
    .result img {
        width: 200px;
    }
    .cercle{
        width: 200px;
        height: 200px;
        
    }
    .cercle:nth-child(2) {
        bottom: 100px;
        right: 300px;
    }
    .cercle:nth-child(1) {
        top: 100px;
        left:  300px;
    }
    h1{
    font-size: 50px;
}
    
}